<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934132838270-lqathf37n6m7bj4cginnlbn91kcrc8mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934132838270-lqathf37n6m7bj4cginnlbn91kcrc8mv</string>
	<key>API_KEY</key>
	<string>AIzaSyBE8XZFD5myVaSJtk0t0W8ryH6AnKXZG8M</string>
	<key>GCM_SENDER_ID</key>
	<string>934132838270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.royalHome</string>
	<key>PROJECT_ID</key>
	<string>royal-home-1c7cb</string>
	<key>STORAGE_BUCKET</key>
	<string>royal-home-1c7cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934132838270:ios:22a35fbca9c7bda15ccd2f</string>
</dict>
</plist>